.tableTitle {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .justifyContentEnd {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
  
  .autoWidth {
    width: auto;
  }
  
  .fixedWidthButton {
    width: 120px;
  }  