.app-background {
  background-image: url('/public/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.text-outline {
  color: white;
  text-shadow:
    -1px -1px 0 #00000051,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}